<%= form_with(model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="task_content">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <div class="task_deadline">
    <%= f.label :deadline %>
    <%= f.datetime_select :deadline %>
  </div>
  <div class="task_status">
    <%= f.label :status %>
    <%= f.select :status, [["", ""], ["未着手", "0"], ["作業中", "1"], ["完了", "2"]] %>
  </div>
  <%= f.submit %>
<% end %>
