<h1><%= t('.title') %></h1>
<p><%= notice %></p>
<table>
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.content') %></th>
    <th><%= t('.created_at') %></th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= task.created_at %></td>
    <td id="show"><%= link_to t('.show_task'), task_path(task.id) %></td>
    <td><%= link_to t('.show_edit'), edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to t('.show_destroy'), task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
  <% end %>
</table>

<%= link_to t('.create_task'), new_task_path %>
