<h1><%= t('.title') %></h1>
<p><%= notice %></p>
<%= form_with( model: Task.new, method: :get, local: true ) do |f| %>
  <%= f.label :name_search, 'タスク名検索' %>
  <%= f.text_field :search, value: 'true' %>

  <%= f.label :status_search, '状態検索' %>
  <%= f.text_field :search, value: 'true' %>

  <%= f.submit "検索する" %>
<% end %>

<table>
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.content') %></th>
    <th><%= t('.created_at') %></th>
    <th><%= link_to "終了期限でソートする", tasks_path(sort_expired:"true") %></th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= task.created_at. strftime("%Y-%m-%d%H:%M") %></td>
    <td><%= task.deadline. strftime("%Y-%m-%d%H:%M") %></td>
    <td id="show"><%= link_to t('.show_task'), task_path(task.id) %></td>
    <td><%= link_to t('.show_edit'), edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to t('.show_destroy'), task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
  <% end %>
</table>

<%= link_to t('.create_task'), new_task_path %>
