<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<div>
  <table>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.content %></td>
      <td><%= task.created_at.strftime("%Y-%m-%d%H:%M") %></td>
      <td><%= task.status_i18n %></td>
      <td><%= task.priority_i18n %></td>
      <td><%= task.deadline.strftime("%Y-%m-%d%H:%M") %></td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Task', tasks_path %>
