<!DOCTYPE html>
<html>
  <head>
    <title>ManyouTask</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header class="clearfix">
        <div class="header">
          <h1>Tasksu</h1>
        </div>
      </header>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      <footer>
        <p>Tasksu ©︎2019</p>
      </footer>

    </div>
    <%= yield %>
  </body>
</html>
